.event-item {
  padding: 12px 22px;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  box-shadow: 0 2 4 0;
}

.event-item img {
  border-radius: 50%;
  display: inline-block;
  width: 54px;
  height: 54px;
}

.event-item > div {
  display: inline-block;
  width: 70%;
  padding-left: 15px;
  vertical-align: top;
}

.event-item__text,
.event-item__dot,
.event-item__name {
  display: inline-block;
  font-size: 10px;
  font-weight: 200;
  color: #949191;
  margin: 0;
}

.event-item__name{
  display: block;
  font-family: Avenir;
  color: #585858;
  font-size: 15px;
  font-weight: 500;
}

.event-item__row {
  display: block;
}

.event-item__dot {
  margin: 0 5px;
}

.event-item__link {
  color: #33AF80;
  font-weight: 500;
  font-size: 11px;
  margin-top: 10px;
  margin-bottom: 0;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
